@page "/"

<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-xl-5 col-lg-6 col-md-8 p-5 p-lg-4 mx-auto d-flex align-items-center">
            <div>
                <p> <img src="img/logo.png" alt="Template Logo"></p>
                <h1 class="text-uppercase">Under construction.</h1>
                <p class="lead">We are working hard to bring to you our website for the latest updates to our wedding</p>
                <p>Coming soon/Under construction template by Bootstrapious.com. I hope you will enjoy working with it. This a paragraph where some more info about your project could go. </p>
                <p class="social"><a href="#" class="external facebook"><i class="fab fa-facebook-f"></i></a><a href="#" class="external youtube"><i class="fab fa-youtube"></i></a><a href="#" class="external twitter"><i class="fab fa-twitter"></i></a><a href="#" title="" class="external instagram"><i class="fab fa-instagram"></i></a><a href="#" class="email"><i class="fa fa-envelope"> </i></a></p>
                <p class="credit">&copy; 2019 Charles Hanke & Traci Sutton | Template by <a href="https://bootstrapious.com/landing-pages" class="external text-reset">Bootstrapious</a>  </p>
            </div>
        </div>
        <div style="background-image: url('img/family-dogpile.jpg');" class="col-xl-7 col-lg-12 col-md-12 intro-right"></div>
    </div>
</div>
